Ta sẽ cho dữ liệu của rotten tomato vào data warehouse, với schema được thể hiện như sau:

Bảng Movie Info: chứa các thông tin chung của movie

- movie_id: mã phim, được mã hoá dưới dạng số
- movie_title: tiêu đề
- movie_info: mô tả
- content_rating: giới hạn độ tuổi xem
- genres: thể loại
- directors: đạo diễn bộ phim
- actors: diễn viên tham gia bộ phim
- release_date: ngày ra mắt (chỉ lấy năm, để ở dạng float)
- runtime: thời lượng bộ phim
- image: link url của ảnh bìa (Hiện tại nguồn tomato đang không có trường này)

Bảng Tomato Rating Info: chứa các thông tin về rating của movie trên trang Rotten Tomato
- movie_id: khoá ngoại
- tomatometer_rating: rating trung bình của các nhà phê bình phim
- tomatometer_count: số lượng rating của các nhà phê bình phim
- audience_rating: rating trung bình của khán giả
- audience_count: số lượng rating của khán giả
- link: link của trang web dẫn đến phim

Bảng Tomato Review: chứa các thông tin bình luận và đánh giá của các nhà phê bình phim
- movie_id: khoá ngoại
- critic_name: tên người đánh giá
- publisher_name: tên nhà sản xuất đánh giá
- review_type: loại review (Fresh/Rotten)
- review_score: điểm đánh giá
- review_date: thời gian đánh giá
- review_content: nội dung đánh giá

Với các nguồn dữ liệu khác khi cho vào data warehouse cũng sẽ tách ra làm 2 bảng riêng: bảng về thông tin chung về movie và bảng về thông tin rating của movie đối với nguồn đó

Ngoài ra, còn một số bảng tham khảo các giá trị của các trường trong data warehouse thể hiện ở dưới (Phục vụ cho xử lý các nguồn dữ liệu khác):

- Bảng Cast and Director: chứa danh sách các đạo diễn và diễn viên tham gia phim
- Bảng Genres: chứa danh sách các thể loại
- Bảng Content Rating: chứa danh sách các content rating

In [22]:
import os
# Chỉnh lại tên directory theo tên parent_dir trong folder_create.py
os.chdir("/Users/trananhvu/Documents/Tichhopdulieu/Data_Integration_Group23/Data_Integration_Project_Group_23")

In [23]:
import pandas as pd
import re
import folder_create as folder

In [24]:
# Movie Info
df_tomato_movie = pd.read_csv(os.path.join(folder.tomato_dir, "rotten_tomatoes_movies.csv"))
df_tomato_movie.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [25]:
# Review Info
df_tomato_review = pd.read_csv(os.path.join(folder.tomato_dir,"rotten_tomatoes_critic_reviews.csv"))
df_tomato_review.head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...

# Xử lý dữ liệu và tạo bảng trong data warehouse

## Xử lý dữ liệu

### Tạo khoá cho dữ liệu

Do nguồn rotten tomato không có id phim riêng, cho nên ta xem xét việc lấy trường rotten_tomatoes_link làm liên kết tạm thời giữa hai bảng movie và review

In [4]:
print("Số bản ghi trong df_tomato_movie có trường rotten_tomatoes_link null: "+ str(sum(df_tomato_movie["rotten_tomatoes_link"].isna())))
print("Số bản ghi trong df_tomato_review có trường rotten_tomatoes_link null: "+ str(sum(df_tomato_review["rotten_tomatoes_link"].isna())))

Số bản ghi trong df_tomato_movie có trường rotten_tomatoes_link null: 0
Số bản ghi trong df_tomato_review có trường rotten_tomatoes_link null: 0

In [6]:
# Tạo một trường movie_id
df_tomato_movie["movie_id"]=["movie"+str(idx) for idx in range(len(df_tomato_movie))]
# Chỉnh sửa trường rotten_tomatoes_link
df_tomato_review["rotten_tomatoes_link"]=["https://www.rottentomatoes.com/"+i for i in df_tomato_review["rotten_tomatoes_link"]]
df_tomato_movie["rotten_tomatoes_link"]=["https://www.rottentomatoes.com/"+i for i in df_tomato_movie["rotten_tomatoes_link"]]

Ta sẽ tạo thêm cột movie_id cho bảng review

In [7]:
# Tạo dictionary liên kết movie_id và rotten_tomatoes_link
link_id_dict = {}
for i in range(len(df_tomato_movie)):
    link_id_dict[df_tomato_movie.iloc[i]["rotten_tomatoes_link"]]=df_tomato_movie.iloc[i]["movie_id"]

In [8]:
def create_movie_id(link):
    # Có khả năng link đó không tồn tại trong bảng movie
    if link in link_id_dict.keys():
        return link_id_dict[link]
    else:
        return None
df_tomato_review["movie_id"]=[create_movie_id(i) for i in df_tomato_review["rotten_tomatoes_link"]]

In [8]:
print("Số đường link không rõ trong trường rotten_tomatoes_link của bảng review: "+str(sum(df_tomato_review["movie_id"].isna())))

Số đường link không rõ trong trường rotten_tomatoes_link của bảng review: 130

In [9]:
# Tiến hành loại bỏ các bản ghi đó
df_tomato_review = df_tomato_review.dropna(subset=["movie_id"])

### Tạo thêm trường image

In [10]:
df_tomato_movie["image"]=None

### Chuyển đổi release_date

In [11]:
df_tomato_movie["original_release_date"].head()

0    2010-02-12
1    2010-04-30
2    1979-10-05
3    1957-04-13
4    1954-01-01
Name: original_release_date, dtype: object

Ta thấy giá trị trường release_date có dạng YYYY-mm-DD, ta sẽ chỉ lấy year

In [12]:
def get_year(date):
    if type(date)!=float:
        return float(date[:4])
df_tomato_movie["original_release_date"]=[get_year(i) for i in df_tomato_movie["original_release_date"]]

### Chuyển đổi review_score

In [18]:
df_tomato_review["review_score"].unique()

array([nan, '3.5/5', '1/4', 'B', '3/5', '4/5', '2/4', '2/5', 'C', '2.5/4',
       '3/4', 'C-', '2.75/5', 'B-', '2.5/5', '5.5/10', '1/5', 'C+', 'D+',
       '1.5/4', '6.5/10', '3/10', '1.5/5', '4/10', '7/10', '6/10', 'B+',
       '5/5', 'A-', '4.5/5', '5.78/10', '3.5/4', 'A', '9/10', '8.5/10',
       '4/4', '83/100', '8/10', '92/100', '82/100', '84/100', '10/10',
       'D-', 'F', '0.5/4', 'D', '5/10', '2/10', '2/6', '0.5/5', '0/4',
       '0/5', '76/100', '87/100', '74/100', '86/100', '81/100', '56/100',
       '78/100', '2.25/5', '8.8/10', '0/10', '44/100', '2.75/4', '2.4/5',
       '8.6/10', '79/100', '68/100', '80/100', '90/100', '66/100',
       '91/100', '0.3/5', '9.2/10', '2.7/5', '57/100', '4/6', '3/6',
       '73/100', '42/100', '65/100', '7.5/10', '4.5/10', '5/6', '1/6',
       '70/100', '3.5/10', '71/100', '0.1/5', '3.25/10', '89/100',
       '40/100', '64/100', '62/100', '1/10', '3.75/5', '37/100', '49/100',
       '60/100', '3.3/5', '77/100', '5.25/10', '1.4/4', '75/100', '1.5/6',
       '85/100', '4.25/10', '47/100', '6/8', '52/100', '63/100', '50/100',
       '41/100', '46/100', '6.95/10', '53/100', '9.5/10', '59/100',
       '43/100', '9.45/10', '45/100', '69/100', '7.25/10', '5.85/10',
       '9.88/10', '39/100', '0.13/1', '8.25/10', '5.75/10', '6.1/10',
       '6.8/10', '8.9/10', '8.75/10', '2.5/10', '5.9/10', '4.2/10',
       '7.35/10', '4.6/10', '6.75/10', '4.90/10', '4.827/10', '2/2',
       '58/100', '4.75/10', '3.4/10', '88/100', '5.48/10', '9.16/10',
       '3.4/4', '4.25/5', '3.7/10', '6.765/10', '67/100', '34/100',
       '51/100', '3.4/5', '72/100', '93/100', '5', '95/95', '98/100',
       '94/100', '99/100', '4', '55/100', '61/100', '35/100', '95/100',
       '1/3', '5/8', '7', '4.2/5', '3', '30/100', '54/100', '48/100',
       '18/100', '10', '25/100', '7/5', '3.25/5', '7.4/10', '2', '6.2/10',
       '5.12/10', '5/100', '1', '0.75/5', '8', '100/100', '2.8/4',
       '2.25/4', '31/100', '2.4/4', '32/100', '3.8/5', '8.3/10', '8.4/10',
       '5.3/10', '0/100', '0.2/5', '8.7/10', '2.2/5', '2.3/5', '3.2/5',
       '2.8/5', '2.75/3', '4.85/10', '3.5/6', '3.25/4', '0.5/10',
       '1.75/4', '28/100', '9.25/10', '5.80/10', '6.25/10', '7.2/10',
       '6.9/10', '1.2/5', '8.35/10', '6.4/10', '7/11', '8.70/10',
       '9.75/10', '1.21/10', '1.35/5', '23/100', '38/100', '6.3/10',
       '8.85/10', '7.3/10', '7.15/10', '1.25/4', '3.9/10', '4.21/10',
       '9.35/10', '2.75/10', '8.76/10', '7.7/10', '7.75/10', '5.15/10',
       '7.85/10', '1.8/5', '0', '6.45/10', '5.95/10', '8.1/10', '3.7/5',
       '7.9/10', '9.9/10', '13/20', '6', '4.75/5', '2.83/5', '17/20',
       '8.74/10', '9', '7.8/10', '5.8311/10', '47/50', '3.20/10',
       '6.65/10', '5.88/10', '19/100', '2.5/3', '15/100', '8.621/10',
       '16/20', '1.75/5', '5.8/10', '1.5/10', '8.50/10', '5.65/10',
       '10.50/20', '9.19/10', '4.4/10', '5.6/10', '14.5/20', '4.1/5',
       '8.05/10', '0/6', '1.6/5', '3.1/5', '6.85/10', '4.35/10', '9.1/10',
       '8.88/10', '6.6/10', '6.7/10', '5.4/10', '20/20', '8.2/10',
       '16.5/20', '7.1/10', '5.7/10', '11/20', '8.95/10', '3.75/10',
       '15/20', '3.6/5', '7.6/10', '5.9737991/10', '18.5/20', '14/20',
       '7.05/10', '18/20', '9.86/10', '4.8/10', '4.7/10', '2.74/10',
       '4.9/10', '26/100', '2.12/5', '5.2/10', '7.96/10', '21/100',
       '6.9921/10', '4.5/4', '7.892/10', '5.5/5', '1/54', '1.2/10',
       '8.89/10', '33/100', '8.99/10', '5.5/20', '8.10/10', '6.68/10',
       '13/100', '2.9/10', '5.61/10', '4.65/10', '8/20', '9.12/10', '3/3',
       '5.49/10', '20/100', '6.78/10', '10/20', '0.02/5', '3.8/10',
       '8.65/10', '5.1/10', '9/5', '1.7/5', '25', '8.7328/10',
       '7.00122/10', '9.851/10', '8.251/10', '5/20', '7.57/10', '12/20',
       '2.1/5', '9.5/20', '10/100', '5.51/10', '1.4/5', '2.6/6', '9.4/10',
       '4.8/5', '4.45/10', '4.65/5', '2.6/5', '3.15/5', '6.98/10',
       '4.7/5', '4.1/10', '3.5/3', '4.4/5', '9.3/10', '4.3/5', '3.9/5',
       '2.20282652/10', '3.75/4', '3.3/10', '11.5/20', '7.5/20',
       '8.53899/10', '6/13', '2.11/5', '9.7/10', '2.6/10', '0.7221/10',
       '3.76/5', '2.95/10', '6.15/10', '7.5314585/10', '8.15/10',
       '9.85/10', '97/100', '7.83/10', '3.2121/10', '8.55/10',
       '2.282303/10', '88', '1.5/2', '4.21382343/10', '8/100', '17.5/20',
       '1.24/5', '1.25/5', '4.3/10', '2.7/10', '4.521/10', '6.0001/10',
       '4.143641/10', '9.15/10', '48', '4.05524/10', '8/5', '3/100',
       '3.83412437/10', '9.6/10', '9.79/10', '7.21/10', '9.5/5', '3.2/10',
       '7.696/10', '5.872/10', '9.50/20', '5.1921/10', '2.892521821/10',
       '0.81/1', '27/100', '6.35/10', '2.9/5', '9.74/10', '9.33/10',
       '7.02/10', '2.1/10', '7.89/10', '2.50/5', '9.21/10', '5.57/10',
       '19/20', '9.8/10', '8.32/10', '1/1', '5.9821/10', '8.385/10',
       '0.5/5.5', '45', '7.95/10', '6.09/10', '1.9/10', '3.55/10',
       '7.45/10', '7.62121/10', '1.9/5', '3.515/10', '15.5/20', '3.85/10',
       '8.72/10', '35/4', '5.5/6', '36/100', '9.1221/10', '9.65/10',
       '4.70/10', '2.2/10', '7.61/10', '2.3/4', '6.4821/10', '7.3821/10',
       '8.3721/10', '5.44/10', '8.92/10', '7.49/10', '8.225/10', '0.25/4',
       '1.5242228/10', '5.56/10', '9/20', '24/100', '7.01/10', '9.67/10',
       '7.2234238/10', '6.00024/10', '7.111113314/10', '8.21/10',
       '5.21/10', '79/80', '9.145/10', '9.865/10', '4.95/10', '5.6642/10',
       '9/100', '6.875/10', '0.66/10', '1.2/4', '5.8943/10', '3.99/10',
       '13.5/20', '61/00', '5.72/10', '1.3/5', '0.05/4', '4.6/5',
       '8.57/10', '24', '0/1000', '5.35/10', '29/100', '1.9528/10', '35',
       '7.65/10', '5.55/10', '2.5/20', '69/70', '9.26/10', '8.735/10',
       '6.1121/10', '6.0000001/10', '2/8', '9.78/10', '5.45/10',
       '14.50/20', '6.26/10', '2.85/5', '2.6/4', '7.218/10', '0.6/1',
       '3.021/10', '7.10/10', '0.96/10', '8.666/10', '3/40', '0.82/10',
       '7.98/10', '5.5542/10', '8.901/10', '2.55/5', '7.22/10', '5.70/10',
       'A  -', '7.04/10', '2.4/10', '5.89521/10', '2.8/10', '7.3856/10',
       '8.899327/10', '1.1/2', '8.2621/10', '7.212121/10', '4.89215/10',
       '9.89/10', '2.212521/10', '22/100', '5.6521/10', '8.87/10',
       '3.1/10', '4/5.5', '4.95/5', '8.19/10', '9.552/10', '7/20',
       '4.211/10', '4/3.5', '46', '4.9837/10', '9.38/10', '5.284849/10',
       '8.67/10', '6.9621/10', '2.5/50', '2.255/5', '90', '75', '8.61/10',
       '3.5/5.5', '5.81/10', '66/70', '3.222423/10', '4.2112/10',
       '1.82/10', '6.000003231/10', '3.76/10', '5.76/10', '2/54', '0.8/5',
       '6/11', '8.458/10', '2.89/5', '5.8921/10', '8.496/10', '2.3/10',
       '0.21/10', '4.51/10', '9.76/10', '59/60', '0.9/10', '3.65/5',
       '6/6', '6.7/8', '9.46/10', '8.45/10', '8.26/10', '1.85/10',
       '0.75/10', '4.89/10', '6.55/10', '1.62/5', '0.85/10', '9.121/10',
       '9.6421/10', '8.5788222/10', '3.45/5', '96/100', '67/10',
       '7.2621/10', '2/3', '5.23/10', '7.79/10', '9.1421/10', '87/10',
       '12.50/20', '7.825/10', '8.921/10', '6.24/10', '8.124/10',
       '8.01/10', '4.56/10', '1.5/3', '4.79/10', '8.16/10', '0.59/1',
       '2.7/4', '1.1/5', '89', '4.55/10', '2.5/6', '9.8521/10',
       '3.7822391/10', '7.2521/10', '7.18321/10', '3.6/4', 'C  -',
       '8.42/10', '9.73889/10', '12/100', '7.44/10', '8.5/5', '6/20',
       '6.01/10', '34', '8.98/10', '7.48/10', '3.65/10', '7.0921/10',
       '3.35/5', '1.4/10', '4/0', '6.96/10', '7.001/10', '5.22/10',
       '1.8/4', '16/100', '9.889/10', '14/100', '8.999/10', '9.188/10',
       '7.021/10', '4.42/10', '8.212121/10', '3.6/10', '0.7765823/10',
       '8.425/10', '9.48/10', '9.30/10', '4.86/10', '7.5211/10', '5/11',
       '8.71/10', '68', '3.7521/10', '4.021/10', '8.881/10', '5.10/10',
       '3/5.5', '95', '5.623433899/10', '0.65/10', '7/8', '9.18/10',
       '5.82/10', '5.212/10', '5.895/10', '6.8666/10', '920', '3.0782/10',
       '2.95/5', '4.22/10', '0.13/5', '2.65/10', '0.4/5', '8.453895/10',
       '6.001/10', '9.52/10', '6.16/10', '8.9521/10', '9.85621/10',
       '76/10', '0.664363/10', '9.51/10', '5.02120621/10', '3.2/4',
       '2/20', '5.1221/10', '12.5/20', '8.327/10', '1.88/10', '11/100',
       '75/10', '8.39421/10', '910', '9.95/10', '2/9', '8.199/10',
       '8.485/10', '7.621/10', '5.232121/10', '5.67/10', '8.24/10',
       '39/40', '3/5.4', '2/100', '7.94215/10', '9.68/10', '6/5',
       '6.19/10', '25/4', '4.5/6', '9.021/10', '8.32321/10', '7.87/10',
       '5.50/10', '8.2521/10', '2.1/2', '5.05/10', '0.6/10', '3.5/20',
       '9.14/10', '7.42/10', '9.2021/10', '6.05/10', '4/8', '3.54/5',
       '14', '9.49/10', '6.97/10', '4.9834326/10', '10/90', '72', '67',
       '45/5', '7.0155/10', '3.3/4', '6.89/10', '9.921/10', '80',
       '0.666/4', '2.55/4', '1.1/10', '3.5/18', '73/10', '8.30/10',
       '8.56/10', '6.8843/10', '6.00001/10', '4.364221/10', '4.293382/10',
       '6.84/10', '9.01/10', '8.68/10', '9.649821/10', '3/45',
       '8.692121/10', '70', '6.02/10', '0.58/1', '5.4221/10', '7.12/10',
       '8.1921/10', '9.87/10', '8.84/10', '9.20/10', '0.8/10',
       '8.9621/10', '3/20', '0.52/1', '8.3/100', '4/100', '1.75/10',
       '1.8/10', '4.0001/10', '77', '5.9999/10', '9.66/10', '9.99/10',
       '5.751/10', '7.55/10', '5.01/10', '3.56339/10', '4.558/10',
       '7.94/10', '3.5/44', '8.765/10', '4.35/5', '21/24', '6.02121/10',
       '1/2', '7.4921/10', '5.046/10', '9.56/10'], dtype=object)

Ta thấy review score rất đa dạng, như score/max_score, score, alphabet score (A,B,C, ...)

In [19]:
count=0
for i in df_tomato_review["review_score"]:
    if type(i)==str:
        if not bool(re.search(r'\d', i)):
            count+=1
print("% Số bản ghi review_score có dạng alphabet: "+str(count/len(df_tomato_review)))
print("% Số bản ghi review_score bị null: "+str(count/sum(df_tomato_review["review_score"].isna())))

% Số bản ghi review_score có dạng alphabet: 0.11409017007895479
% Số bản ghi review_score bị null: 0.42140620198625706

In [58]:
# Score dạng alphabet
for i in df_tomato_review["review_score"].unique():
    if type(i)==str:
        if not bool(re.search(r'\d', i)):
            print(i)

B
C
C-
B-
C+
D+
B+
A-
A
D-
F
D
A  -
C  -

Ta sẽ chuyển về từ dạng alphabet score sang dạng số (100) (Lấy trung bình) (https://www.cs.uni.edu/~mccormic/lettergrade.html):

|Percent|Letter Grade|
|-|-|
|97|A|
|91.5|A-|
|88|B+|
|84.5|B|
|81|B-|
|78|C+|
|74.5|C|
|71|C-|
|68|D+|
|64.5|D|
|61|D-|
|30|F|

In [13]:
alphabet_alphabet_dict = {"A  -": "A-", "C  -": "C-"}
def alphabet_to_numeric(score):
    # F
    if score=="F":
        return 30
    # D
    elif score=="D-":
        return 61
    elif score=="D":
        return 64.5
    elif score=="D+":
        return 68
    # C
    elif score=="C-":
        return 71
    elif score=="C":
        return 74.5
    elif score=="C+":
        return 78
    # B
    elif score=="B-":
        return 81
    elif score=="B":
        return 84.5
    elif score=="B+":
        return 88
    # A
    elif score=="A-":
        return 91.5
    elif score=="A":
        return 97

def convert_score(score):
    if type(score)==float:
        return None
    if type(score)==str:
        # Nếu điểm là dạng alphabet => chuyển về dạng số
        if not bool(re.search(r'\d', score)):
            if score in alphabet_alphabet_dict.keys():
                return alphabet_to_numeric(alphabet_alphabet_dict[score])
            else:
                return alphabet_to_numeric(score)
        else:
            if "/" in score:
                try:
                    return eval(score)*100
                except ZeroDivisionError:
                    return None
            else:
                return eval(score)

df_tomato_review["review_score"]=[convert_score(i) for i in df_tomato_review["review_score"]]

In [14]:
# Loại bỏ các trường không xuất hiện trong warehouse schema
df_tomato_movie.drop(['critics_consensus', 'authors', 'streaming_release_date', 
                      'tomatometer_status', 'audience_status', 'tomatometer_top_critics_count', 
                      'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count', 'production_company'], axis=1, inplace=True)
df_tomato_review.drop(["rotten_tomatoes_link"], axis=1, inplace=True)

In [15]:
# Thay đổi tên một số trường
df_tomato_movie.rename(columns = {'rotten_tomatoes_link':'link', 'original_release_date':'release_date'}, inplace = True)
df_tomato_movie.columns

Index(['link', 'movie_title', 'movie_info', 'content_rating', 'genres',
       'directors', 'actors', 'release_date', 'runtime', 'tomatometer_rating',
       'tomatometer_count', 'audience_rating', 'audience_count', 'movie_id',
       'image'],
      dtype='object')

In [38]:
df_tomato_review.columns

Index(['critic_name', 'top_critic', 'publisher_name', 'review_type',
       'review_score', 'review_date', 'review_content', 'movie_id'],
      dtype='object')

## Tạo bảng trong datawarehouse

In [16]:
df_warehouse_movie = df_tomato_movie[["movie_id", "movie_title", "movie_info", "genres", 
                                      "directors", "actors", "release_date", "runtime", "content_rating", "image"]]
df_warehouse_tomato_rating = df_tomato_movie[["movie_id", "tomatometer_rating", "tomatometer_count", 
                                              "audience_rating", "audience_count", "link"]]

# Tạo các bảng tham khảo

## Trường content_rating

In [8]:
df_warehouse_movie['content_rating'].unique()

array(['PG', 'R', 'NR', 'G', 'PG-13', 'NC17'], dtype=object)

content_rating description:

- G: GENERAL AUDIENCES: ALL AGES ADMITTED
- PG: PARENTAL GUIDANCE SUGGESTED: SOME MATERIAL MAY NOT BE SUITABLE FOR CHILDREN
- PG-13: PARENTS STRONGLY CAUTIONED: SOME MATERIAL MAY BE INAPPROPRIATE FOR CHILDREN UNDER 13
- R: RESTRICTED: UNDER 17 REQUIRES ACCOMPANYING PARENT OR ADULT GUARDIAN
- NC-17: NO ONE 17 AND UNDER ADMITTED
- NR: NOT RATED: THE CONTENT OF THIS FILM HAS NOT BEEN EVALUATED (TRAILER)

In [9]:
pd.DataFrame(list(df_warehouse_movie['content_rating'].unique()), columns=["content_rating"]).to_csv(
    os.path.join(folder.field_value_dir,"content_rating.csv"),
    index=False 
)

## Trường genres

Cấu trúc giá trị trong trường genres là <genre 1>,  <genres 2>, ...

In [11]:
genres_list = []
for i in df_warehouse_movie["genres"]:
    if type(i)==str:
        genres_items = i.split(", ")
        genres_list += genres_items
genres_list = list(set(genres_list))

In [14]:
genres_list

['Art House & International',
 'Sports & Fitness',
 'Television',
 'Science Fiction & Fantasy',
 'Comedy',
 'Musical & Performing Arts',
 'Anime & Manga',
 'Mystery & Suspense',
 'Drama',
 'Cult Movies',
 'Western',
 'Faith & Spirituality',
 'Horror',
 'Kids & Family',
 'Documentary',
 'Animation',
 'Classics',
 'Special Interest',
 'Action & Adventure',
 'Gay & Lesbian',
 'Romance']

In [34]:
pd.DataFrame(genres_list, columns=["genres"]).to_csv(
    os.path.join(folder.field_value_dir,"genres.csv"),
    index=False 
)

## Trường directors và actors

Cấu trúc giá trị của trường director <director 1>, <director 2>, ...

Cấu trúc giá trị của trường actor <actor 1>, <actor 2>, ...

In [63]:
name_list = []
for i in df_warehouse_movie["directors"]:
    if type(i)==str:
        name_items = i.split(", ")
        name_list += name_items
for i in df_warehouse_movie["actors"]:
    if type(i)==str:
        name_items = i.split(", ")
        name_list += name_items
name_list = list(set(name_list))
name_list.sort()

In [39]:
len(name_list)

210926

In [40]:
pd.DataFrame(name_list, columns=["name"]).to_csv(
    os.path.join(folder.field_value_dir,"directors_actors.csv"),
    index=False 
)

# Lưu dữ liệu data warehouse

In [17]:
df_warehouse_movie.to_csv(os.path.join(folder.warehouse_dir,"movie.csv"), index=False)
df_warehouse_tomato_rating.to_csv(os.path.join(folder.warehouse_dir,"tomato_rating.csv"), index=False)
df_tomato_review.to_csv(os.path.join(folder.warehouse_dir,"tomato_review.csv"), index=False)